body {
  border: 1px solid #000;
  border: 0.0625rem solid #000;
  width: 1000px;
  width: 62.5rem;
  margin: 24px  1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  margin: 1.5rem;
  padding: 48px  1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  padding: 3rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-size: 18px;
  font-size: 1.125rem;
}
div {
  width: 500px;
  width: 31.25rem;
  margin: 24px 0 1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  margin: 1.5rem 0;
  background-color: #eee;
}
h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 72px;
  line-height: 4.5rem;
}
h2 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin-top: 36px;
  margin-top: 2.25rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #000;
  border-bottom: 0.0625rem solid #000;
}
#test-margin-inherit-parent-element {
  margin: 42px  1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  margin: 2.625rem;
  border: 1px dashed;
  border: 0.0625rem dashed;
}
#test-margin-inherit {
  margin: inherit  1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  margin: inherit;
}
#test-margin-horizontal-centering {
  margin: 0 auto 1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  margin: 0 auto;
}
#test-margin-one-argument {
  margin: 10px  1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  margin: 0.625rem;
}
#test-margin-two-arguments {
  margin: 10px 20px 1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  margin: 0.625rem 1.25rem;
}
#test-margin-two-arguments-with-zero {
  margin: 10px 0 1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  margin: 0.625rem 0;
}
#test-margin-three-arguments {
  margin: 10px 20px 1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  margin: 0.625rem 1.25rem 1.875rem;
}
#test-margin-four-arguments {
  margin: 10px 20px 1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  margin: 0.625rem 1.25rem 1.875rem 2.5rem;
}
#test-margin-four-hairlines {
  margin: 1px 1px 1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
}
#test-margin-top {
  margin-top: 10px;
  margin-top: 0.625rem;
}
#test-margin-right {
  margin-right: 20px;
  margin-right: 1.25rem;
}
#test-margin-bottom {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
#test-margin-left {
  margin-left: 40px;
  margin-left: 2.5rem;
}
#test-margin-hairline {
  margin-left: 1px;
  margin-left: '1px';
}
#test-padding-one-argument {
  padding: 10px  1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  padding: 0.625rem;
}
#test-padding-two-arguments {
  padding: 10px 20px 1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  padding: 0.625rem 1.25rem;
}
#test-padding-three-arguments {
  padding: 10px 20px 1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  padding: 0.625rem 1.25rem 1.875rem;
}
#test-padding-four-arguments {
  padding: 10px 20px 1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  padding: 0.625rem 1.25rem 1.875rem 2.5rem;
}
#test-padding-top {
  padding-top: 10px;
  padding-top: 0.625rem;
}
#test-padding-right {
  padding-right: 20px;
  padding-right: 1.25rem;
}
#test-padding-bottom {
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
}
#test-padding-left {
  padding-left: 40px;
  padding-left: 2.5rem;
}
#test-font-size-inherit {
  font-size: inherit;
}
#test-font-size {
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 63px;
  line-height: 3.9375rem;
}
#test-width-hundred-percent {
  width: 50px;
  width: 3.125rem;
  width: 100%;
}
#test-height {
  height: 50px;
  height: 3.125rem;
}
#test-max-width {
  max-width: 50px;
  max-width: 3.125rem;
  max-width: none;
}
#test-background-size {
  background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,0.5) 50%);
  background-size: 500px 500px 1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  background-size: 31.25rem 31.25rem;
}
#test-background-size-cover {
  background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,0.5) 50%);
  background-size: cover  1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  background-size: cover;
}
#test-background-size-contain {
  background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,0.5) 50%);
  background-size: contain  1px 1px;
/* Make sure that the rule is written out only once in case there is no rem substitution */
  background-size: contain;
}
